body{
  background: fixed;
  background-color: black;
  padding: 0%;
}
h1{
  color: aqua;
  text-align: center;
}
h2{
color: blanchedalmond;
text-align: left;
}
p{
  color:azure;
}
h3{
  color: green;
  text-align: right;
}
img{
  text-align: center;
  padding: 20%;
  size-adjust: 30px;
}