body{
    background-color: brown;
}
.container{
   background-color: aqua;
  border: 25px solid antiquewhite;
    padding: 5rem;
    border-radius: 10px;
    margin: 10px;
}
h1{
    text-align: center;
    color: darkorange;
}
p{
    text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
}